:root {
	--rojo: #ffc400;
	--fondo: #1414148c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.boton-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.boton-wsp:hover{
    background: #20ba5a;
}

h5{
    color: #ffc400;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}

.margin-button{
    margin-bottom: 5px;
}

.warnings{
    text-align: center;
    margin: auto;
    color: white;
    padding-top: 20px;
    text-justify: auto;
    font-size: 18px;
}

.center{
	align-items: center;
	display: flex;

	justify-content: center;

}

.margin-abajoo{
    margin-bottom: 15px;
}

#fuente{
	color: var(--rojo);
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
	padding-left: 20px;
}
#piedepag{
	font-family: 'Bebas Neue', cursive;
	color: var(--rojo);
	font-size: 20px;
}
nav{
	font-family: 'Bebas Neue', cursive;
	font-size: 22px;
	color: var(--rojo);
}
#separarsearch{
	padding-right: 20px;
}





.comentarios{
    margin: 20px 0;
}

.form_comentarios textarea{
    width: 100%;
    height: 84px;
    max-width: 100%;
    min-width: 100%;
    min-height: 84px;
    max-height: 300px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    border: 1px solid #4b65d1;
    margin-bottom: 20px;

}

.form_comentarios .btn{
    background: #4b65d1;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0;
    color: #fff;
    margin-bottom: 20px;
}

.form_comentarios .btn:hover{
    box-shadow: 0px 0px 9px rgba(0,0,0,.35);

}

.media{
    border-top: 1px solid #bfbfbf;
    padding-top: 20px;
}

.media img{
    margin-right: 20px;
}

.media .nombre{
    color: #fff;
    margin-bottom: 0;
}

.media .nombre span{
    font-size: 12px;
    color: #fff;
    margin-left: 10px;

}

.media .comentario{
    margin-top: 10px;
    color: #fff;
}

.media .botones{
    margin-bottom: 10px;
}

.media .botones a{
    color:#fff;
    font-size: 14px;
    margin-left: 20px;

}

.tammannio-letra{
    font-size: 18px;
}

img{
    width: 64px;
    height: 64px;

}

.color-comentarios{
    color: #fff;
}

.margin-bot{
    margin-right: 10px;
}

.margin-tema{
    margin-bottom: 10px;
    margin-top: 10px;
}

#fondo1{
    background-color: black;  
    background-image: url('/static/wiki/img/menu-img/Fondo3.jpg'); 
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: rgba(36, 36, 36, 0.664);
    color: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
	margin-top: 303px;
    position: absolute;
    width: 100%;
    
}

html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 40px;
}

