<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'wiki/img/Consumibles/the-forest.ico' %}" />
    <title>Modificar Cuenta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"rel="stylesheet">
    <link rel="stylesheet" href="{% static 'wiki/css/ModificarCuenta.css' %}">
</head>
<body id="fondo">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        {% if usuario %}
        <a class="navbar-brand" href="{% url 'menuprincipal2' usuario.id_usuario %}" id="fuente">The Forest Wiki</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% else %}
        <a class="navbar-brand" href="{% url 'menuprincipal' %}" id="fuente">The Forest Wiki</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if usuario %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'menuprincipal2' usuario.id_usuario %}">Inicio</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'menuprincipal' %}">Inicio</a>
              </li>
            {% endif %}
              {% if usuario %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Foro' usuario.id_usuario %}">Foro</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="https://www.google.com/maps/place/R%C3%ADo+Imperial+460,+Valle+Grande,+Lampa,+Regi%C3%B3n+Metropolitana/@-33.3295809,-70.751195,17z/data=!3m1!4b1!4m5!3m4!1s0x9662bf62531dc747:0xc0b4aee73c3b9373!8m2!3d-33.3295854!4d-70.7490063?hl=es-CL">Dirección</a>
              </li>
              {% if usuario %}
              
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Registrarse' %}">Registrarse</a>
                </li>
              {% endif %}
                {% if usuario %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Micuenta' usuario.id_usuario %}">{{ usuario.id_usuario }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Cerrar sesion</a>
                </li>
                
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Inicio-sesion' %}">Iniciar sesion</a>
                </li>
                {% endif %}
                {% if usuario.tipousuario.id_tipo == 1 %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Admin' usuario.id_usuario%}">Administrador</a>
                </li>
                {% endif %}
                
          </ul>
        </div>
      
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              {% if usuario %}
              
                <form class="row g-3 needs-validation" action="{% url 'ModificarCuenta2' usuario.id_usuario %}" method="POST" id="form2" enctype="multipart/form-data" novalidate>

                    {% csrf_token %}
                    <h1 class="label-color">Edita tu Usuario!</h1>
                    
                    <div>
                      
                        <label for="" class="label-color">Nombre</label>
                        <input type="text" value="{{usuario.nombre}}" class="form-control margin-abaj" id="nombre" name="nombre" required>
                        
                    </div>
                    <div>
                        <label for="" class="label-color">Apellido</label>
                        <input type="text" value="{{usuario.apellido}}" class="form-control margin-abaj" id="apellido" name="apellido" required>
                    </div>
                    <div>
                        <label for="" class="label-color">Nombre de usuario</label>
                        <input type="text" value="{{usuario.id_usuario}}" class="form-control margin-abaj" id="nomusuario" name="nomusuario" readonly>
                    </div>
                    <div>
                        <label for="" class="label-color">Imagen</label>
                        <input type="file" value="{{usuario.foto.url}}" id="foto" name="foto" class="form-control margin-abaj" required>
                    </div>
                    <div>
                        <label for="" class="label-color">Correo</label>
                        <input type="text" value="{{usuario.correo}}" id="correo" name="correo" class="form-control margin-abaj" required>
                    </div>
                    <div>
                        <label for="" class="label-color">Clave</label>
                        <input type="password" value="{{usuario.clave}}" id="Clave1" name="Clave1" class="form-control margin-abaj" required>
                    </div>
                    <div>
                        <label for="" class="label-color">Repetir clave</label>
                        <input type="password" value="{{usuario.clave}}" id="Clave2" name="Clave2" class="form-control margin-abajo" required>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-dark form-control margin-btn">Modificar</button>
                        </div>
                        <div class="col-6">
                            <button type="reset" class="btn btn-dark form-control margin-btn">Borrar</button>
                        </div>
                    </div>
                    <div class="center">
                        <p class="warnings" id="warnings"></p>
                    </div>
                </form>
            {% endif %}
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <footer id="piedepag">
        <p>Chile, Santiago de Chile | Fono: 227369936 | Email: tfwiki@gmail.com</p>
        <p>Copyright 2022 Wiki <span style="color: #ffc400;">THE FOREST WIKI</span></p>
    </footer>
    
    <script src="{% static 'wiki/js/val_iniciosesion.js' %}"></script>
    <script src="{% static 'wiki/js/val_modificarcuenta.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>